<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Todo Item</title>
  </head>

  <body>
    <header>
    </header>

    <main>
      <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="control">
              <button class="button">Submit</button>
          </div>
      </form>

  </main>
  </body>
</html>
