<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Todo</title>
  </head>

  <body>
    <header>
    </header>

    <main>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button class="button">Delete</button>
          </div>
        </form>
      </main>

  </body>
</html>
