<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Detail</title>
  </head>
  <body>
    <div>
        <a href="{% url 'todos_list' %}">Back to list</a>
        <a href="{% url 'todo_list_edit' todolist.id %}">Edit</a>
        <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
    </div>
    <h1> {{ todolist.name }} </h1>

    <header>
     <h2>Tasks</h2>
    </header>
    <h3>Task Due date</h3>


    <p> {% for task in todolist.items.all %}
        <div>
        <a href="{% url 'todo_item_edit' task.id %}"> {{ task }} </a> {{ task.due_date|date:"M d, Y" }}
        </div>
        {% endfor %} </p>

  </body>
</html>
