<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos List</title>
  </head>

  <body>
    <header>
     <h1>My lists</h1>
    </header>

    <div>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>

            <a href="{% url 'todo_item_create' %}">Create a new item</a>

            <h3>Name Number of Items</h3>
    </div>
    {% for todo in todolist_list%}
    <div>
      <td>
    <a href="{% url 'todo_list_detail' todo.pk %}"> {{ todo.name }} </a>
      </td>
      <td>
                 {{ todo.items.all|length }}
      </td>


    </div>
    {% endfor %}
        {% comment %} Insert some kind of python logic -- if name exists, put a link to the detail page , etc. {% endcomment %}
  </body>
</html>
